<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Clientes
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Principal</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/clientes']">Clientes</a></li>
                            <li class="breadcrumb-item"><a>Registrar Clientes</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">

                    <div class="col-12 col-xl-12">
                        <form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Listado Clientes</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><b>Numero de Cliente</b></label>
                                                <input type="text" class="form-control" #numeroCliente="ngModel"
                                                    name="numeroCliente" [(ngModel)]="cliente.numeroCliente"
                                                    placeholder="Numero de Cliente" readonly
                                                    value="{{count}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><b>Nombre </b></label>
                                                <input type="text" class="form-control" #nombre="ngModel" name="nombre"
                                                    [(ngModel)]="cliente.nombre" placeholder="Nombre" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><b>NIT </b></label>
                                                <input type="number" class="form-control" #nit="ngModel" name="nit"
                                                    [(ngModel)]="cliente.nit" placeholder="NIT" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><b>Teléfono </b></label>
                                                <input type="number" class="form-control" #nit="ngModel" name="telefono"
                                                    [(ngModel)]="cliente.telefono" placeholder="Teléfono" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><b> Dirección</b></label>
                                                <input type="text" class="form-control" #direccion="ngModel"
                                                    name="direccion" [(ngModel)]="cliente.direccion"
                                                    placeholder="Direccion" required>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="llamadasEstado">Forma de Pago </label>
                                            <select class="form-control" name="formaPago"
                                                [(ngModel)]="cliente.formaPago" required>
                                                <option value="" disabled>Seleccionar</option>
                                                <option value="Forma1">Forma1</option>
                                                <option value="Forma2">Forma2</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="estado">Estado </label>
                                            <select class="form-control" name="estado" [(ngModel)]="cliente.estado"
                                                required>
                                                <option value="" disabled>Seleccionar</option>
                                                <option value="Inicio">Inicio</option>
                                                <option value="Proceso">Proceso</option>
                                                <option value="Finalizado">Finalizado</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-success" type="submit">Registrar Cliente</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>