<style>
    span.red {
        background: red;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.grey {
        background: #cccccc;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.green {
        background: #5EA226;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.blue {
        background: #5178D0;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.yellow {
        background: yellow;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }
</style>
<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">
                <div class="header">
                    <h1 class="header-title">
                        Empresas
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Principal</a></li>
                            <li class="breadcrumb-item"><a>Empresa</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- <h5 class="card-title">Listado de empresas</h5>
                                        <a [routerLink]="['/save-empresa']" class="btn btn-primary">Nueva Empresa</a> -->
                                        <h5 class="card-title">Buscar por nombre</h5>
                                        <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
                                            <div class="input-group date" id="datetimepicker-minimum"
                                                data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input"
                                                    #filtro="ngModel" name="filtro" [(ngModel)]="filtroText">
                                                <div class="input-group-append">

                                                    <button type="submit" class="input-group-text"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5 class="card-title">Opciones :</h5>
                                        <div class="btn-group">

                                            <button type="button" class="btn mb-1 btn-primary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Opciones
                                            </button>
                                            <div class="dropdown-menu">
                                                <!-- <a [routerLink]="['/save-empresa']" class="btn btn-primary">Nueva Empresa</a>  -->
                                                <a class="dropdown-item" [routerLink]="['/save-empresa']">Registrar activo</a>
                                                <!-- <a class="dropdown-item" data-toggle="modal"
                                                    data-target="#modal-data-categoria">Ver categorias</a>
                                                <a class="dropdown-item" data-toggle="modal"
                                                    data-target="#modal-save-categoria">Registrar Categoria</a> -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
                                            <div class="form-group col-md-4">
                                                <label for="stardate"><b> Desde</b></label>

                                                <input type="date" class="form-control" #stardate="ngModel"
                                                name="stardate" [(ngModel)]="empresaDate.stardate"
                                                placeholder="Nombre de Empresa" required>

                                                <!-- <input type="date" class=" form-control" name="stardate" placeholder="yyyy-MM-dd"
                                                    required /> -->
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="enddate"><b>Hasta</b></label>

                                                <input type="date" class="form-control" #enddate="ngModel"
                                                name="enddate" [(ngModel)]="empresaDate.enddate"
                                                placeholder="Nombre de Empresa" required>

                                                <!-- <input type="date" class=" form-control" name="enddate" placeholder="yyyy-MM-dd"
                                                    required /> -->
                                            </div>
                                            <button type="submit" class="input-group-text"><i
                                                    class="fa fa-search">-Buscar..</i></button>
                                        </form>
                                    </div>                         
                                </div>
                            </div>

                            
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <ul>
                                            <span class="red">-</span> Sin servicio
                                            <span class="yellow">-</span>En proceso
                                            <span class="green">-</span> Realizado
                                        </ul>

                                    </div>

                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Numero Empresa</th>
                                        <th>Nombre Empresa</th>
                                        <th>Estado </th>
                                        <th>Direccion </th>
                                        <th>Fecha Registro </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of empresas | paginate: { itemsPerPage: 15, currentPage: p }">
                                    <td>{{item.numeroEmpresa}} </td>
                                    <td>{{item.nombreEmpresa}}</td>
                                    <td><span [ngClass]="{
                                                'yellow': item.estadoSeguimiento === 'En proceso', 
                                                'green':item.estadoSeguimiento === 'Realizado',
                                                'red': item.estadoSeguimiento === 'Sin servicio'}">-</span>
                                    </td>
                                    <!-- <td><span  class="{{item.nombreEmpresa == 'Semapa' ? 'red' : 'grey' }}">2</span></td> -->
                                    <td>{{item.direccion}}</td>
                                    <th>{{item.fechaRegistro | date: 'dd/MM/yyyy'}} </th>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn mb-1 btn-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                    [routerLink]="['/empresa/edit/',item._id]">Editar registro</a>

                                                <a class="dropdown-item" (click)="eliminar(item._id)">Eliminar
                                                    registro</a>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/detail-empresa/',item._id]">Ver detalles</a>
                                            </div>
                                        </div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event" 
                    previousLabel="Antes"
                    nextLabel="Despues"></pagination-controls>
                </div>
            </div>
        </main>
    </div>
</div>