<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Experiencia Laboral
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Principal</a></li>
                            <li class="breadcrumb-item"><a>Registro Experiencia laboral</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                   
                                    <div class="col-lg-6">
                                    
                                        <a [routerLink]="['/experiencia/registrar']"  class="btn btn-primary">Experiencia Laboral</a>
                                    </div>
                                </div>
                                <!-- <div class="form-row">
                                    <div class="form-group col-md-4">
                                      <label for="inputEmail4">Busscar por Profesión</label>
                                      <input type="text" class="form-control" name="filterpost" placeholder="Buscar...." [(ngModel)]="filterpost">
                                    </div>
                                    <div class="form-group col-md-4">
                                    </div>
                                    <div class="form-group col-md-4">
                                    </div>
                                </div> -->
                                
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Postulante-Apellido Paterno</th>
                                        
                                        <th>Cedula de identidad</th>
                                        <th>Profesion</th>
                                        <th>Fecha registro</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let item of experiencias ">
                                        <td>
                                           {{item.idpostulante.nombre}}  {{item.idpostulante.apellidoPaterno}}
                                        </td>
                                        <!-- <td>
                                            {{item.iduser.nombres}} {{item.iduser.apellidos}}
                                         </td> -->
                                         <td>
                                            {{item.idpostulante.ci}}  
                                         </td>
                                         <td>
                                            {{item.idpostulante.profesion}}  
                                         </td>
                                        <td>{{item.fecha | date: 'MMM d, y, h:mm:ss a'}}</td>
                                      
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn mb-1 btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" [routerLink]="['/experiencia/',item._id]" >Detalle de postulante</a>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </div>
        </main>
       
    </div>
</div>