<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        postulantes
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/clientes']" >Empresas</a></li>
                            <li class="breadcrumb-item"><a>Editar empresa</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">

                    <div class="col-12 col-lg-12" *ngIf="success_message">
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <div class="alert-message">
                                {{success_message}}
                            </div>

                            <button type="button" class="close" (click)="close_alert()" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                    
                    <div class="col-12 col-xl-12">
                        <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Datos de la empresa</h5>
                                </div>
                                <div class="card-body">
                                   <div class="row">
                       
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Numero de Empresa</b></label>
                                                    <input type="text" class="form-control" #numeroEmpresa="ngModel"
                                                        name="numeroEmpresa" [(ngModel)]="empresa.numeroEmpresa"
                                                        placeholder="Numero de Empresa" readonly value=" DBC - {{count}}" >
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Nombre de Empresa</b></label>
                                                    <input type="text" class="form-control" #nombreEmpresa="ngModel"
                                                        name="nombreEmpresa" [(ngModel)]="empresa.nombreEmpresa"
                                                        placeholder="Nombre de Empresa" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Direccion </b></label>
                                                    <input type="text" class="form-control" #direccion="ngModel"
                                                        name="direccion" [(ngModel)]="empresa.direccion"
                                                        placeholder="Direccion de Empresa" required>
                                                </div>
                                            </div>
                                       
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Contacto</b></label>
                                                    <input type="text" class="form-control" #contacto="ngModel"
                                                        name="contacto" [(ngModel)]="empresa.contacto"
                                                        placeholder="Contacto" required>
                                                </div>
                                            </div>
    
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b> Telefono</b></label>
                                                    <input type="number" class="form-control" #telefono="ngModel" name="telefono"
                                                        [(ngModel)]="empresa.telefono" placeholder="Telefono" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Estado de LLamadas</b></label>
                                                    <input type="text" class="form-control" #llamadasEstado="ngModel" name="llamadasEstado"
                                                        [(ngModel)]="empresa.llamadasEstado" placeholder="Estado de llamadas " required>
                                                </div>
                                            </div>
                                            <!-- <div class="form-group col-md-4">
                                                <label for="llamadasEstado">Estado de LLamadas </label>
                                                <select class="form-control"  name="llamadasEstado"
                                                [(ngModel)]="empresa.llamadasEstado" required>
                                                    <option value="" disabled>Seleccionar</option>
                                                    <option value="Presentacion enviada">No contesta</option>
                                                    <option value="Call Center">Correo Enviado</option>
                                                    <option value="Call Center">No por el momento</option>
                                                    <option value="Call Center">Correo Enviado</option>
                                                </select>
                                            </div> -->
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Correo</b></label>
                                                    <input type="text" class="form-control" #correo="ngModel" name="correo"
                                                        [(ngModel)]="empresa.correo" placeholder="Correo Empresa " required>
                                                </div>
                                            </div>
                                       
                                            <div class="form-group col-md-4">
                                                <label for="lugarNacimiento">Etapa de Venta </label>
                                                <select class="form-control"  name="etapaVenta"
                                                [(ngModel)]="empresa.etapaVenta" required>
                                                    <option value="" disabled>Seleccionar</option>
                                                    <option value="Presentacion enviada">Presentacion enviada</option>
                                                    <option value="Call Center">Call Center</option>
                                                    <option value="Reunion Pendiente">Reunion Pendiente</option>
                                                    <option value="No requiere el servicio">No requiere el servicio</option>
                                                    <option value="Llama el..">Llama el..</option>
                                                    <option value="Venta realizada">Venta realizada</option>
                                                </select>
                                            </div>
                                            <!-- <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Etapa de Venta</b></label>
                                                    <input type="text" class="form-control" #etapaVenta="ngModel" name="etapaVenta"
                                                        [(ngModel)]="empresa.etapaVenta" placeholder="Correo Empresa " required>
                                                </div>
                                            </div> -->
                                            <!-- <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Medio de Comunicacion</b></label>
                                                    <input type="text" class="form-control" #medioComunicacion="ngModel" name="medioComunicacion"
                                                        [(ngModel)]="empresa.medioComunicacion" placeholder="Medio de Comunicacion " required>
                                                </div>
                                            </div> -->
                                       
                                            <div class="form-group col-md-4">
                                                <label for="medioComunicacion">Medio de Comunicacion </label>
                                                <select class="form-control"  name="medioComunicacion"
                                                [(ngModel)]="empresa.medioComunicacion" required>
                                                    <option value="" disabled>Seleccionar</option>
                                                    <option value="Whatsapp">Whatsapp</option>
                                                    <option value="Llamada Telefonica">Llamada Telefonica</option>
                                                    <option value="Referido">Referido</option>
                                                </select>
                                            </div>
                                            <!-- <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label><b>Estado de Seguimiento</b></label>
                                                    <input type="text" class="form-control" #estadoSeguimiento="ngModel" name="estadoSeguimiento"
                                                        [(ngModel)]="empresa.estadoSeguimiento" placeholder="Estado de Seguimiento" required>
                                                </div>
                                            </div> -->
                                            <div class="form-group col-md-4">
                                                <label for="estadoSeguimiento">Estado de seguimiento </label>
                                                <select class="form-control"  name="estadoSeguimiento"
                                                [(ngModel)]="empresa.estadoSeguimiento" required>
                                                    <option value="" disabled>Seleccionar</option>
                                                    <option value="En proceso">En proceso</option>
                                                    <option value="Realizado">Realizado</option>
                                                    <option value="Sin servicio">Sin servicio</option>
                                                </select>
                                            </div>
                                       
                                      
                                   </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-success" type="submit">Actualizar empresa</button>
                                </div>
                            </div>
                        </form>
                    </div>
    
                </div>



               
            </div>
        </main>
       
    </div>
</div>