<style>
    span.red {
        background: red;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.grey {
        background: #cccccc;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.green {
        background: #5EA226;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.blue {
        background: #5178D0;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.yellow {
        background: yellow;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }
</style>
<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">

                    <h1 class="header-title">
                        Postulantes
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Principal</a></li>
                            <li class="breadcrumb-item"><a>Personas Postulantes</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">z

                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="row">
                                <!-- <div class="col-lg-6">
                                    <h5 class="card-title">Buscar por profesion</h5>
                                    <form #searchFormPostu="ngForm" (ngSubmit)="search(searchFormPostu)">
                                        <div class="form-group">
                                            <label class="form-label">Profesiones</label>
                                            <select class="form-control" #filtro="ngModel" name="filtro"
                                                [(ngModel)]="filtroText">
                                                <option value="" disabled>SELECCIONAR</option>
                                                <option value="{{item._id}}" *ngFor="let item of profesiones">
                                                    {{item.nombre.toUpperCase()}}</option>
                                            </select>
                                            <button type="submit" class="input-group-text"><i
                                                    class="fa fa-search">-Buscar..</i></button>
                                        </div>
                                    </form>
                                </div> -->
                                <div class="row">
                                    <div class="col">
                                        <input type="text" name="filterProTest" class="form-control" [(ngModel)]="filterProTest">

                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <h5 class="card-title">Opciones de Postulante</h5>
                                    <div class="btn-group">

                                        <button type="button" class="btn mb-1 btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Opciones
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" [routerLink]="['/postulante/registrar']">Registrar
                                                Postulante</a>
                                            <a class="dropdown-item" data-toggle="modal"
                                                data-target="#modal-data-categoria">Ver categorias</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <form #searchEstadoForm="ngForm" (ngSubmit)="searchEstado(searchEstadoForm)">

                                        <label for="lugarNacimiento">Buscar por estado </label>
                                        <select class="form-control" #filtroEstado="ngModel" name="filtroEstado"
                                            [(ngModel)]="filtroEstadoText">
                                            <option value="" disabled>Seleccionar</option>
                                            <option value="Con empleo">Con empleo</option>
                                            <option value="Disponible">Disponible</option>
                                        </select>
                                        <button type="submit" class="input-group-text"><i
                                                class="fa fa-search">-Buscar..</i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <ul>
                                            <span class="red">-</span> Con Empleo
                                            <span class="green">-</span> Disponible
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellido Paterno</th>
                                        <th>Estado</th>
                                        <th>Cedula</th>
                                        <th>Profesion</th>
                                        <th>Estado Civil</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody
                                    *ngFor="let item of postulantes  |filterPro:filterProTest | paginate: { itemsPerPage: 15, currentPage: p }">
                                    <td>{{item.nombres}} </td>
                                    <td>{{item.apellidoPaterno}}</td>
                                    <td><span [ngClass]="{
                                            'green':item.estadoPostulante === 'Disponible',
                                            'red': item.estadoPostulante === 'Con empleo'}">-</span>
                                    </td>
                                    <td>{{item.ci}}</td>
                                    <td>{{item.idprofesion.nombre}}</td>
                                    <td>{{item.estadoCivil}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn mb-1 btn-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                    [routerLink]="['/postulante/editar/',item._id]">Editar registro</a>

                                                <a class="dropdown-item" (click)="eliminar(item._id)">Eliminar
                                                    registro</a>

                                            </div>
                                        </div>
                                    </td>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event" previousLabel="Antes" nextLabel="Despues">
                    </pagination-controls>
                </div>




            </div>
        </main>

    </div>
</div>