<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Bienvenido Dandelion Bussines Clinic !!</h1>
        <p class="lead">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus porro, illum numquam cumque velit
            soluta quia odio ea aliquam consectetur nemo facere ullam voluptatem eius iusto excepturi? Ea, architecto
            hic.
        </p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor saepe praesentium excepturi quam. Nostrum
            aliquid ratione consequuntur incidunt qui at illo, ipsam magnam impedit, nihil quae nisi officiis corporis
            ea?</p>
        <a href="https://testdandelion.000webhostapp.com/" class="btn btn-primary bg-dark">Visitar Web Site</a>
    </div>

</div>