<div class="wrapper">
    <app-sidebar style="background: white;"></app-sidebar>
    <div class="main">
        <nav class="navbar navbar-dark navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Registrar experiencia laboral postulante
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="dashboard-default.html">Principal</a></li>
                            <li class="breadcrumb-item"><a>Postulantes</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-12 form-group">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Datos personales postulante</h5>
                            </div>
                            <div class="card-body">
                                <form #ventaForm="ngForm" (ngSubmit)="onSubmit(ventaForm)">
                                    <div class="row">
                                        <div class="col-lg-4 form-group">
                                            <label><b>Trabajador</b></label>
                                            <input type="text" class="form-control" readonly
                                                 value="{{identity.nombres}} {{identity.apellidos}}">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label><b>Seleccione postulante</b></label>
                                            <select name="" class="form-control" #idpostulante="ngModel" name="idpostulante"
                                                [(ngModel)]="venta.idpostulante">
                                                <option value="">SELECCIONAR</option>
                                                <option value="{{item._id}}" *ngFor="let item of postulantes">
                                                    {{item.ci}}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 form-group">

                                            <a [routerLink]="['/postulante/registrar']" class="btn btn-primary">Nuevo
                                                postulante</a>
                                        </div>
                                        <div class="col-lg-2 form-group">

                                            <button type="submit" class="btn btn-primary">Registrar a Bdd</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-12" *ngIf="error_message">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div class="alert-message">
                                {{error_message}}
                            </div>

                            <button type="button" (click)="close_alert()" class="close" data-dismiss="alert"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 form-group">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Anadir experiencia laboral</h5>
                            </div>
                            <div class="card-body">
                                <form #detalleForm="ngForm" (ngSubmit)="save_detalle(detalleForm)">
                                    <div class="row">
                                       
                                        <div class="col-lg-3 form-group" >
                                            <label for=""><b>Nombre Empresa</b></label>
                                            <input type="text" #nombreEmpresa="ngModel" name="nombreEmpresa"
                                                [(ngModel)]="detalle.nombreEmpresa" class="form-control">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="tiempoServicioDesde"><b>Tiempo servicio Desde</b></label>
                                            <input type="date" class=" form-control" name="tiempoServicioDesde" [(ngModel)]="detalle.tiempoServicioDesde"
                                            placeholder="yyyy-MM-dd"  required />
                                        </div>
                                 
                                        <div class="form-group col-md-4">
                                            <label for="tiempoServicioHasta"><b>Tiempo servicio Hasta</b></label>
                                            <input type="date" class=" form-control" name="tiempoServicioHasta" [(ngModel)]="detalle.tiempoServicioHasta"
                                            placeholder="yyyy-MM-dd"  required />
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Direccion</b></label>
                                            <input type="text" #direccion="ngModel" name="direccion"
                                                [(ngModel)]="detalle.direccion" class="form-control">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Telefono</b></label>
                                            <input type="number" #telefono="ngModel" name="telefono"
                                                [(ngModel)]="detalle.telefono" class="form-control">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Puesto Desempenado</b></label>
                                            <input type="text" #puestoDesempenado="ngModel" name="puestoDesempenado"
                                                [(ngModel)]="detalle.puestoDesempenado" class="form-control">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Sueldo Inicial</b></label>
                                            <input type="number" #sueldoInicial="ngModel" name="sueldoInicial"
                                                [(ngModel)]="detalle.sueldoInicial" class="form-control">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Sueldo Final</b></label>
                                            <input type="number" #sueldoFinal="ngModel" name="sueldoFinal"
                                                [(ngModel)]="detalle.sueldoFinal" class="form-control">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Motivo de cambio de trabajo</b></label>
                                            <input type="text" #motivoCambioTrabajo="ngModel" name="motivoCambioTrabajo"
                                                [(ngModel)]="detalle.motivoCambioTrabajo" class="form-control">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Nombre jefe directo</b></label>
                                            <input type="text" #nombreJefeDirecto="ngModel" name="nombreJefeDirecto"
                                                [(ngModel)]="detalle.nombreJefeDirecto" class="form-control">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Puesto Jefe</b></label>
                                            <input type="text" #puestoJefe="ngModel" name="puestoJefe"
                                                [(ngModel)]="detalle.puestoJefe" class="form-control">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="solicitarInfo">Solicitar Informacion a la empresa</label>
                                            <select class="form-control" name="solicitarInfo" [(ngModel)]="detalle.solicitarInfo" required>
                                                <option value="" disabled>Seleccionar</option>
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                        <!-- <div class="col-lg-3 form-group">
                                            <label for=""><b>Solicitar Informacion a la empresa</b></label>
                                            <input type="text" #solicitarInfo="ngModel" name="solicitarInfo"
                                                [(ngModel)]="detalle.solicitarInfo" class="form-control">
                                        </div> -->
                                        <div class="col-lg-2 form-group">
                                            <label><b>*</b></label>
                                            <button class="btn btn-primary btn-block" type="submit">Agregar</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Trabajos</h5>
                            </div>
                            <table class="table table-striped table-hover table-sm">
                                <thead>
                                    <th>Eliminar</th>
                                    <th>Nombre Empresa</th>
                                    <th>Empezó</th>
                                    <th>Terminó</th>
                                    <th>Direccion</th>
                                    <th>Cargo</th>

                                </thead>
                                <tbody *ngFor="let item of data_detalle; let idx = index">
                                    <td><button class="btn btn-danger btn-sm"
                                            (click)="eliminar(idx,item.precio_venta,item.cantidad)"><i
                                                class="fas fa-trash"></i></button></td>
                                    <!-- <td>{{item.producto}}</td>
                                    <td>{{item.precio_venta}}</td> -->
                                    <td>{{item.nombreEmpresa}}</td>
                                    <td>{{item.tiempoServicioDesde}}</td>
                                    <td>{{item.tiempoServicioHasta}}</td>
                                    <td>{{item.direccion}}</td>
                                    <td>{{item.puestoDesempenado}}</td>
                                    <!-- <td>{{(item.precio_venta) * (item.cantidad)}}</td> -->
                                </tbody>
                                <!-- <tfoot>
                                    <td><b>Total</b></td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>${{total}}</td>
                                </tfoot> -->
                            </table>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

    </div>
</div>