<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>
    <div class="main">
        
        <main class="content">
            <div class="container-fluid">
                <div class="header">
                    <h1 class="header-title">
                        Generar Factura
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Principal</a></li>
                            <li class="breadcrumb-item"><a>Factura</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-12 form-group">
                        <form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Detalle</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 form-group">
                                            <label><b>Numero de Cliente</b></label>
                                            <input type="text" class="form-control" value="{{cliente.numeroCliente}} ">
                                        </div>
                                        <div class="col-4 form-group">
                                            <label><b>Nombre Cliente</b></label>
                                            <input type="text" class="form-control" value="{{cliente.nombre}}">
                                        </div>
                                        <div class="col-4 form-group">
                                            <label><b>NIT</b></label>
                                            <input type="text" class="form-control" value="{{cliente.nit}}">
                                        </div>
                                        <div class="col-4 form-group">
                                            <label><b>Direccion</b></label>
                                            <input type="text" class="form-control" value="{{cliente.direccion}}">
                                        </div>
                                        <div class="col-4 form-group">
                                            <label><b>Telefono</b></label>
                                            <input type="text" class="form-control" value="{{cliente.telefono}}">
                                        </div>
                                        <!-- <div class="form-group col-md-4">
                                            <label for="formaPago">Forma de Pago </label>
                                            <select class="form-control" name="formaPago" value="cliente.formaPago"
                                                required>
                                                <option value="" disabled>Seleccionar</option>
                                                <option value="Cuentas por cobrar">Cuentas por cobrar</option>
                                                <option value="Caja">Caja</option>
                                                <option value="Banco">Banco</option>
                                            </select>
                                        </div> -->
                                        <div class="col-4 form-group">
                                            <label><b>Forma de Pago</b></label>
                                            <input type="text" class="form-control" value="{{cliente.formaPago}}">
                                        </div>
                                        <!-- <div class="col-4 form-group">
                                            <label><b>Estado</b></label>
                                            <input type="text" class="form-control" value="{{cliente.estado}}">
                                        </div> -->
                                        <!-- <div class="col-4 form-group">
                                            <label><b>Id Cliente</b></label>
                                            <input #idCliente="ngModel" name="idCliente"
                                            [(ngModel)]="factura.idCliente"  
                                          type="text" class="form-control" value="{{cliente._id}}">
                                        </div> -->
                                        <div class="col-4 form-group">
                                            <label><b>Numero de Factura</b></label>
                                            <input #numeroFactura="ngModel" name="numeroFactura"
                                                [(ngModel)]="factura.numeroFactura" type="text" class="form-control">
                                        </div>
                                        <div class="col-4 form-group">
                                            <label><b>Concepto Item General</b></label>
                                            <input #conceptoItem="ngModel" name="conceptoItem"
                                                [(ngModel)]="factura.conceptoItem" type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="formaPago">Forma de Pago </label>
                                            <select class="form-control" name="formaPago"
                                               required>
                                                <option value="" disabled>Seleccionar</option>
                                                <option value="Cuentas por cobrar">Cuentas por cobrar</option>
                                                <option value="Banco">Banco</option>
                                                <option value="Caja">Caja</option>
                                            </select>
                                        </div>
                                        <div class="col-4 form-group">
                                            <br>
                                            <button type="submit" class="btn btn-primary">Generar Factura</button>
                                        </div>
                                        <!-- <div class="col-lg-4">
                                        <div class="form-group">
                                            <label><b>Nombre </b></label>
                                            <input type="text" class="form-control" #nombre="ngModel"
                                                name="nombre" [(ngModel)]="cliente.nombre"
                                                placeholder="Nombre" required>
                                        </div>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 col-xl-12 form-group">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Añadir Items</h5>
                                </div>
                                <div class="card-body">
                                    <form #detalleForm="ngForm" (ngSubmit)="save_detalle(detalleForm)">
                                        <div class="row">
                                            <div class="col-lg-3 form-group">
                                                <label for=""><b>Concepto Item</b></label>
                                                <input type="text" #conceptoItem="ngModel" name="conceptoItem"
                                                    [(ngModel)]="detalle.conceptoItem" class="form-control">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="precioItem"><b>Precio Item</b></label>
                                                <input type="number" #precioItem="ngModel" class=" form-control"
                                                    name="precioItem" [(ngModel)]="detalle.precioItem"
                                                    placeholder="precio Item" required />
                                            </div>
                                            

                                            <!-- <div class="form-group col-md-4">
                                                <label for="tiempoServicioHasta"><b>Precio Toal Item</b></label>
                                                <input type="number" #precioTotalItem="ngModel" class=" form-control"
                                                    name="precioTotalItem" [(ngModel)]="detalle.precioTotalItem"
                                                    placeholder="precioTotalItem" required />
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                <label for=""><b>ivaItem</b></label>
                                                <input type="number" #ivaItem="ngModel" name="ivaItem"
                                                    [(ngModel)]="detalle.ivaItem" class="form-control">
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                <label for=""><b>it Item</b></label>
                                                <input type="number" #itItem="ngModel" name="itItem"
                                                    [(ngModel)]="detalle.itItem" class="form-control">
                                            </div> -->

                                            <!-- <div class="col-lg-3 form-group">
                                            <label for=""><b>Solicitar Informacion a la empresa</b></label>
                                            <input type="text" #solicitarInfo="ngModel" name="solicitarInfo"
                                                [(ngModel)]="detalle.solicitarInfo" class="form-control">
                                        </div> -->
                                            <div class="col-lg-2 form-group">
                                                <label><b>*</b></label>
                                                <button class="btn btn-primary btn-block" type="submit">Agregar</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Detalle Factura</h5>
                                </div>
                                <table class="table table-striped table-hover table-sm">
                                    <thead>
                                        <th>Eliminar</th>
                                        <th>Concepto</th>
                                        <th>Precio Item</th>
                                        <th>Precio Total Item</th>
                                        <th>Iva Item</th>
                                        <th>It Item</th>
                                        <th>Total factura</th>

                                    </thead>
                                    <tbody *ngFor="let item of data_detalle; let idx = index">
                                        <td><button class="btn btn-danger btn-sm"
                                                (click)="eliminar(idx,item.precio_venta,item.cantidad)"><i
                                                    class="fas fa-trash"></i></button></td>
                                        <!-- <td>{{item.producto}}</td>
                                    <td>{{item.precio_venta}}</td> -->
                                        <td>{{item.conceptoItem}}</td>
                                        <td>{{item.precioItem}}</td>
                                        <td>{{item.precioTotalItem}}</td>
                                        <td>{{item.ivaItem}}</td>
                                        <td>{{item.itItem}}</td>

                                        <!-- <td>{{(item.precio_venta) * (item.cantidad)}}</td> -->
                                    </tbody>
                                    <tfoot>
                                        <td><b>Total</b></td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>

                                        <td>{{total}} Bs.</td>
                                    </tfoot>
                                </table>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>