<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
       
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Asignaciones de Activos de la empresa
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Principal</a></li>
                            <li class="breadcrumb-item"><a>Asignaciones</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a [routerLink]="['/asignacion/registrar']"  class="btn btn-primary">Registrar asignacion</a>
                                    </div>
                                    <div class="col-lg-3">
                                         <button type="button" class="btn btn-outline-warning" (click)="downPDF()">PDF</button>
                                    </div>
                                </div>
                                
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Personal</th>
                                        <th>Fecha</th>
                                        <th>Trabajador DBC</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of asignaciones">
                                        <td>
                                           {{item.idpersonal.nombre}}
                                        </td>
                                        <td>{{item.fecha | date: 'MMM d, y, h:mm:ss a'}}</td>
                                        <td>
                                           {{item.iduser.nombres}} {{item.iduser.apellidos}}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn mb-1 btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" [routerLink]="['/asignacion/',item._id]" >Detalle de asignaciones</a>
                                                </div>
                                            </div>
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>